footer {
  @include gradientBackground;
  padding-top: 6rem;
  position: relative;
  z-index: 4;


  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
    article {
      display: flex;
      flex-direction: column;
     

      p {
        width: 24rem;
        color: $background-color;

        margin-top: 1.3rem;
        margin-bottom: 0.6rem;
        font-weight: 300;
        font-size: 18px;
        line-height: 38px;

        &:hover {
          color: $white-color;
        }
      }
      h3 {
        color: $white-color;
        margin-bottom: 1.3rem;
        font-weight: 700;
        font-size: 20px;
        line-height: 60px;
      }
      a {
        width: 10rem;
        color: $background-color;
        font-weight: 300;
        font-size: 18px;
        line-height: 38px;
        margin-bottom: 0.6rem;
        &:hover {
          color: $white-color;
        }
        & > h1 {
          color: $white-color;
        }
      }
    }
    
  }

  img{
    width:131.58px;
    height:115px;
    opacity: 0.36;
   
}
}

// media queries for medium device
@media screen and (max-width: 1024px) {
  footer {
    .container {
      max-width: 550px;
      width: 100%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
      

      gap: 2.5rem;
      article{

        p{
            width: 16rem;
           
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
        }

        a{
            
            font-size: 18px;
            line-height: 28px; 
        }
      }

    }
  }
}

// media queries for small device
@media screen and (max-width: 600px) {
  footer {
    .container {
      width: 100%;
     max-width: 90px;
        display:grid;
      grid-template-columns: repeat(2,1fr);
      position:relative;
      right:133px;

 article{
    p{
        width: 10rem;
       
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
    }
   h3{
    font-size: 12px;
   }
    a{
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
    }
 }
    }
  }
}
