html{
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img{
    display:block;
    width: 100%;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

section{

    & > h2{
        text-align:center;
    }

    & > p {
        text-align: center;
        width:42%;
        margin:0.6rem auto 2.5rem;
        font-size: 1.1rem;
    }
}

.btn-primary {
    @include button($white-color,$primary-color,$primary-color,$transition-color);

}
.btn-secondary{
    @include button($primary-color,$white-color,$primary-color,$primary-color);
}


// Media Queries for Medium devices
@media screen and (max-width:1024px) {
   
        .container{
            width:$container-md;
        }
        section{
            &>p{
                width:55%
            }
        }
    }
   

// Media Queries for Smaller devices
@media screen and (max-width: 600px)
{
    section{
        &>p{
            width:$container-md
        }
    }
}
    
.to-top {
    background: #5A98F2;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:80px;
    height:80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    font-size:32px;
    color:white;
    opacity:0;
    transition: all .4s;
    z-index: 4;
    &>small{
          font-size: 16px;
    }
    
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }