@mixin button($textColor,$backgroundColor,$borderColor,$transitionColor)
{
    display:inline-block;
    width:fit-content;
    padding:0 2.5rem;
    border-radius: 4rem;
    background: $backgroundColor;
    border:1px solid #3772C2;
    color:$textColor;
    cursor: pointer;
    font-weight: 700;
    line-height: 3.75rem;
    transition:all 400ms ease;

    &:hover {
        background:$transitionColor;
        color: white;
        box-shadow:0.5rem 1.6 rgba($black-color,0.15)
    }

    @media (max-width:1024px) {
        font-size: 12px;
        padding:10px;
        line-height: 1rem;
        
    }
}

@mixin gradientBackground{
   background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
} 